*{
	margin: 0px;
	padding: 0px;
}

/*PARTE RESPONSIVE*/

@media only screen and (max-width: 350px){
	form{
		height: 80vh !important;
	}

	footer{
		height: 30vh !important;
	}
}

@media only screen and (max-width: 768px){
	a{
		text-decoration: none;
	}

	body{
		font-family: 'Vollkorn', serif;
		width: 100%;
		height: 90vh;
		background:  #fb846c;
	}

	.BusEscolar{
		position: relative;
		display: block;
		width: 300px;
		height: 300px;
		margin:  auto;
		margin-top: -9%;
		background-size: cover;
	}

	form{
		padding-top: 10%;
		height: 65vh;
	}

	h1{
		width: 80%;
		margin: 5% auto 0 auto;
		border-radius: 10px;
		background: #d63031;
		color: #fff;
		text-align: center;
	}

	input{
		display: block;
		width: 300px;
		height: 50px;
		font-size: 20px;
		border-radius: 5px;
		border: none;
		margin: 1% auto 0 auto;
		text-align: center;

	}


	#boton1{
		border-radius: 5px;
		background: #d63031;
		color: #fff;
	}

	.Volver{
		display: block;
		/*width: 300px;*/
		width: 70px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		/*margin: 1% auto 0 auto;*/
		margin-top: 1%;
		margin-left: 78%;
		border-radius: 5px;
		text-decoration: none;
		background: #d63031;
		color: #fff;
		text-align: center;
	}

	footer{
		position: relative;
		width: 100vw;
		height: 20vh;
		line-height: 30px;
		border-radius: 10px;
		text-align: center;
		background: #d63031;
		color: #fff;
	}

	.ima {
		border: 0.5px black solid;
		border-radius: 10px;
	} 
}

@media only screen and (min-width: 768px){
	a{
		text-decoration: none;
	}

	body{
		font-family: 'Vollkorn', serif;
		width: 100%;
		height: 90vh;
		background:  #fb846c;
	}

	.BusEscolar{
		position: relative;
		display: block;
		width: 300px;
		height: 300px;
		margin:  auto;
		margin-top: ;
		background-size: cover;
	}

	form{
		padding-top: 10%;
		height: 60vh;
	}

	h1{
		width: 80%;
		margin: auto;
		margin-top: 5%;
		border-radius: 10px;
		background: #d63031;
		color: #fff;
		text-align: center;
	}

	input{
		display: block;
		width: 80%;
		height: 50px;
		font-size: 20px;
		border-radius: 5px;
		border: none;
		margin: 5% auto 0 auto;
		text-align: center;
		
	}


	#boton1{
		border-radius: 5px;
		background: #d63031;
		color: #fff;
	}

	.Volver{
		display: block;
		/*width: 300px;*/
		width: 70px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		/*margin: 1% auto 0 auto;*/
		margin-top: 1%;
		margin-left: 90%;
		border-radius: 5px;
		text-decoration: none;
		background: #d63031;
		color: #fff;
		text-align: center;
	}

	footer{
		position: relative;
		width: 100vw;
		height: 20vh;
		line-height: 30px;
		border-radius: 10px;
		text-align: center;
		background: #d63031;
		color: #fff;
	}
	.ima {
		border: 0.5px black solid;
		border-radius: 10px;
	} 
}


@media only screen and (min-width: 1030px){
	a{
		text-decoration: none;
	}

	body{
		font-family: 'Vollkorn', serif;
		width: 100%;
		height: 100vh;
		background:  #fb846c;
	}

	.BusEscolar{
		display: block;
		position: relative;
		width: 300px;
		height: 300px;
		margin: -2% auto 0 auto;
		background-size: cover;
		/*background: red;*/
	}

	form{
		height: 78vh;
		padding: 0;
	}

	h1{
		width: 80%;
		margin: auto;
/*		margin-top: 5%;*/
		border-radius: 10px;
		background: #d63031;
		color: #fff;
		text-align: center;
	}

	input{
		display: block;
		width: 300px;
		height: 50px;
		font-size: 20px;
		border-radius: 5px;
		border: none;
		margin: 1% auto 0 auto;
		text-align: center;

	}


	#boton1{
		border-radius: 5px;
		background: #d63031;
		color: #fff;
	}

	.Volver{
		display: block;
		/*width: 300px;*/
		width: 70px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		/*margin: 1% auto 0 auto;*/
		margin-top: 1%;
		margin-left: 90%;
		border-radius: 5px;
		text-decoration: none;
		background: #d63031;
		color: #fff;
		text-align: center;
	}

	footer{
		position: relative;
		width: 98.7vw;
		height: 30vh;
		line-height: 30px;
		border-radius: 10px;
		margin: auto;
		text-align: center;
		background: #d63031;
		color: #fff;
	}

	.ima {
		border: 0.5px black solid;
		border-radius: 10px;
	} 
}