*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Vollkorn', serif;
	width: 100%;
	height: 100vh;
	background:  #fb846c;
}

a{
	text-decoration: none;
	color: #fff;
}

.CerrarSesion{
	display: block;
	/*width: 300px;*/
	width: 140px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	/*margin: 1% auto 0 auto;*/	
	margin-top: 1%;
	margin-left: 60%;
	border-radius: 5px;
	text-decoration: none;
	background: #d63031;
	color: #fff;
	text-align: center;
}

h1{
	margin: auto;
	margin-top: 1%;
	width: 80%;
	border-radius: 10px;
	text-align: center;
	background: #e32525;
	color: #fff;
}

.toggle{
	display: block;
	position: fixed;
	left: 0;
	cursor: pointer;
	background: none;
	font-size: 40px;
	border: none;
	background:  #e32525;
	border-radius: 5px;
	margin-top: 120px;
}

.Visible{
	left: 0;
}

ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 1%;
	list-style: none;
}

li{
	width: 130px;
	height: 50px;
	margin-left: 1%;
	border-radius: 10px;
	margin: auto;
	margin-top: 1%;
	text-align: center;
	background: #e32525;
}

h2{
	margin: auto;
	margin-top: 1%;
	text-align: center;
	width: 70%;
	border-radius: 10px;
	color: #fff;
	background: #e32525;
}

table{
	margin: auto;
}

th, td{
	width: 100px;
	text-align: center;
	border-radius: 10px;
	background: #e32525;
	color: #fff;
}

footer{
	text-align: center;
	color: #fff;
	background:  #e32525;
}
